:root {
  --main-color-blue: #2196f3;
  --main-color-grey: #757575;
  --main-color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------HEADER------------- */
.logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-blue);
}

.logo-Stu {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-item:hover,
.header-item:focus {
  color: var(--main-color-blue);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-blue);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-grey);
}

/* -----------HERO------------- */
.hero {
  background-color: #212121;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36x;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-white);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
}

/* -----------SCILL------------- */

.skill-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skill-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-grey);
}

/* -----------REFERRAL------------- */

.referral-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------TEAM------------- */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17x;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-after-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-grey);
}

/* -----------FOOTER------------- */

.footer {
  background-color: #9d4141;
}
.footer-addres-city {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color-white);
}

.footer-addres-contact {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-addres-contact:hover,
.footer-addres-contact:focus {
  color: var(--main-color-blue);
}

/* -----------PORTFOLIO.html------------- */

.portfolio {
}

.portfolio-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color-grey);
}
